extends ../includes/layout

block main-content
	.container-fluid
		.navbar.navbar-inverse.navbar-fixed-top
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(type="button",data-toggle="collapse", data-target="#myNav")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Ambyaa
				.navbar-collapse.collapse(id="myNav")
					ul.nav.navbar-nav
						li
							a.active(href="/") Home

	section.content
		div(ng-view)
