doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.css")
		link(rel="stylesheet", href="/css/main.css")
		base(href="/")
		title Ambyaa
	body(ng-app='ambyaApp')
		.container-fluid.noPadding
			block main-content

		include scripts
		.container-fluid.cd-color-footer
			footer.footer
				.container.text-center
					p &copy; 2017 Ambyaa
